
// @import url('https://combinatronics.com/kiwicopple/quick-font/master/css/circular.css');
// @import url('https://min.gitcdn.xyz/repo/kiwicopple/assets/master/public/css/circular.css');
// @import url('https://min.gitcdn.xyz/repo/kiwicopple/assets/master/public/css/ilisarniq.css');

// $fontFamily = "Ilisarniq", "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
// $fontFamily = "Circular", "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$fontFamily = BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

#app
  min-height: 100vh
  background: #ffffff8
  font-family: $fontFamily
  font-size: 0.9rem
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  .content__default
    padding: 1.5rem
    padding-top: 50px
    max-width: 740px
    margin: 0 auto
  
  .subscribe 
    background: $accentColor
    padding: 1.5em
    color: white

    .subscribe__content
      padding: 0
      max-width: 740px
      margin: 0 auto
    h3 
      margin: 0 !important
    p 
      margin-top: 0 !important
    input, button
      border-radius: 3px
      padding: 5px
      border: 1px solid $borderColor
      font-family: $fontFamily
      font-size: 14px
      background: white
      padding: 8px
      margin-bottom: 5px
      color: $textColor
    button
      font-weight: bold
      font-size: 12px
      padding: 9px 20px
      &:hover
        cursor: pointer


  h1, h2, h3
    font-family: $fontFamily

  img
    border-radius: 5px
    border: 1px solid #eee
    max-width: 100%
  
  blockquote
    color: #444
    background: #fafafa
    font-size: 0.9rem
    border: none 
    padding: 10px
    margin-left: -10px
    margin-right: -10px

  code 
    color: #444
    background: #efefef
    font-size: 0.8rem
    padding: 0.2rem
    border-radius: 3px

  pre 
    code 
      color: #ffffff
      background: transparent
      padding-left: 0

  .content__default
    a 
      color: $textColor
      box-shadow: inset 0 -3px 0 -1px $accentColor
      transition: box-shadow .15s ease-in-out
      padding-bottom: 2px
      &:hover 
        color: #fff
        box-shadow: inset 0 -30px 0 -1px $accentColor;
    ol, ul 
      padding-left: 1.7em
    
    h1, h2, h3, h4, h5, h6
      a 
        padding-right: 0px
  
  .mermaid
    font-family: $fontFamily
    text-align: center

    div, tspan
      font-family: $fontFamily

  .outbound
    display:none !important

  .collapsable
    summary:hover
      cursor: pointer

  .video-container 
    position: relative
    width: 100%
    padding-bottom: 56.25%

    iframe
      position: absolute
      top: 0 
      left: 0
      width: 100%
      height: 100%
      border: 0