
@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'Circular Std Book';
  src: url('/fonts/circular/CircularStd-BookItalic.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular/CircularStd-MediumItalic.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('/fonts/circular/CircularStd-Book.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular/CircularStd-Medium.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular/CircularStd-BlackItalic.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular/CircularStd-Bold.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular/CircularStd-Black.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/circular/CircularStd-BoldItalic.woff2') format('woff2'),
    url('/fonts/circular/CircularStd-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


#app
  font-family: 'Circular Std Book', 'Circular Std', 'Circular', "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

  blockquote
    font-size: 1rem
    color: #555
  h1, h2, h3
    font-family: 'Circular Std', 'Circular', "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  