
@import url('https://rsms.me/inter/inter.css');

html
  background: #1f1f1f
body
  background: #1f1f1f
#app
  min-height: 100vh
  background: #1f1f1f
  font-family: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    
  .sidebar
    background: #1f1f1f

  .navbar
    background: #1f1f1f
    .links
      background: #1f1f1f

  blockquote
    font-size: 1rem
    border-color: #3c3c3c
    
  h1, h2, h3
    font-family: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  
  p
    code
      background: #282c34
  li
    code
      background: #282c34

  img
    border-radius: 5px